        </main>
    </div>
    
    <script>
        // Simple sidebar toggle for mobile
        const sidebar = document.querySelector('.sidebar');
        // Add more global scripts here
    </script>
</body>
</html>
